* {
    outline: 1px solid red;

}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    height: 615px;
    width: 615px;
}

.square {
    border: 5px solid black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    
}

.empty {
    background-color: aquamarine;
}

.X {
    background-color: blue;
    text-align: center;
}

.O {
    background-color: red;
    text-align: center;
}